<header>
  <hgroup>
    <a href="#" title="Criminal Investigation"><img src="../images/logo.gif" alt="Criminal Investigation" height=100px width=100px/>
    <h1>Criminal Investigation </h1>   </a>
    <h2>Defending Our Nation. Securing The Future </h2>
  </hgroup>
</header>